# Datos de ClickHouse
clickhouse_data/

# Datos VictoriaMetrics
victoria_data/

# Logs
*.log

# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env

# Archivos temporales
*.tmp
*.bak

.bash_history
.gitconfig
.local/
simulador_red_heterogenea_BACKUP.py
